@using NetAF.Blazor.Classes
@using NetAF.Logic.Modes

<div style="display: flex; align-items: center; @(!showInput && !showCommandPicker ? "display: none;" : "")">
    <span class="span-primary" style="margin-right: 10px;">Input mode: </span>
    <input type="radio" value="@InputMode.Text"checked="@(selectedInputMode.Equals(InputMode.Text))" @onchange="OnChange" />
    <span class="span-primary" style="margin-right: 10px; margin-left: 5px;">@InputMode.Text </span>
    <input type="radio" value="@InputMode.List" checked="@(selectedInputMode.Equals(InputMode.List))" @onchange="OnChange" />
    <span class="span-primary" style="margin-left: 5px;">@InputMode.List</span>
</div>

<div style="@(!showInput ? "display: none;" : "")">
    <br />
    <input type="text" class="input-text" @ref="textInput" @bind="text" @onkeyup="HandleInput" />
</div>

<div style="@(!showCommandPicker ? "display: none;" : "")">
    <br />
    <CommandPickerComponent @ref="CommandPickerComponent" />
</div>

<div style="@(!showAcknowledge ? "display: none;" : "")">
    <button class="btn btn-primary btn-acknowledge" @ref="acknowledgeButton" @onclick="Acknowledge">OK</button>
</div>